/* ------------------ */
/*   ALTO CONTRASTE   */
/* ------------------ */

.alto-contraste, 
.alto-contraste a,
.alto-contraste button,
.alto-contraste footer,
.alto-contraste nav,
.alto-contraste p,
.alto-contraste .branding.docs-branding,
.alto-contraste .docs-sidebar
{
	color: #ffffff !important;
	background-color: #000000 !important;
}

.alto-contraste #manuals,
.alto-contraste #manuals p,
.alto-contraste #contribute,
.alto-contraste #contribute p,
.alto-contraste #footer,
.alto-contraste #footer p,
.alto-contraste #developed-by {
    color: #ffffff !important;
    background-color: #111111 !important;
}

.alto-contraste nav{
    border-bottom: 1px solid #ffffff;
}

.alto-contraste .barra-acessibilidade a:hover,
.alto-contraste .barra-acessibilidade a:focus,
.alto-contraste .site-logo .navbar-brand .logo-text,
.alto-contraste .docs-heading,
.alto-contraste .section-heading,
.alto-contraste strong {
    color: #ffffff !important;
}

.alto-contraste footer{
    border-top: 1px solid #ffffff;
}

.alto-contraste nav a{
    border-color: #ffffff;
    margin: 0 2px;
}

.alto-contraste .btn-primary,
.alto-contraste .btn-dark,
.alto-contraste span.badge,
.alto-contraste .menu-principal .navbar-toggler,
.alto-contraste .btn-goto-beluga
{
    background-color: #ffffff !important;
    color: #000000 !important;
}


.alto-contraste .btn-dark:focus,
.alto-contraste .btn-dark:hover,
.alto-contraste .btn-primary:focus,
.alto-contraste .btn-primary:hover{
    box-shadow: 0 0 1em #1069D9;
}