button:focus{
    background: #007bff;
    color: #fff;
}
button{
    font-size: 4rem !important;
}

#label{
    height:0;
    width:0;
    font-size:0;
    display: block;
    text-indent: -20000px;
    margin: 0;
    padding: 0;
}

.teclado button{
    font-size: 6rem !important;
    padding:0.5% !important;
}

.mr-1{
    margin-right:-1.5% !important;
}

.teclado .simnao button{
    font-size: 6rem !important;
}
textarea{
    font-size: 2rem !important;
}
.form-control{
    width:41rem !important;
}	
.mt-4 .col-8{
    margin-right: -19%;
}
#backspace, #erase{
    width:	13rem !important;
}
#botaoTrocaTeclado{
    width:	12rem !important;
}

/*telas de tablets/ipads/celulares até 1300px de largura e 850px de altura*/
@media (max-width: 2000px) and (min-width: 1900px) and (min-height:1000px){
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 50px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 7.7rem !important;
        padding:1% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	10rem !important;
        font-size: 5rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	107% !important;
        margin-left:-9% !important;
    } 
    .mr-1{
        margin-right:-1% !important;
    }

    html, body{
        overflow: hidden !important;
    }
}

/*telas de tablets/ipads/celulares até 1300px de largura e 850px de altura*/
@media (max-width: 2000px) and (min-width: 1900px) and (min-height:700px) and (max-height:850px){
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 35px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 5.6rem !important;
        padding:1% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	7.4rem !important;
        font-size: 3.4rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	107% !important;
        margin-left:-9% !important;
    } 
    .mr-1{
        margin-right:-0.7% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        font-size: 4.6rem !important;
        height: 8.7rem !important;
        margin-left:-8% !important;
    }

    #SN, #SNN{
        width: 19.6rem !important;
    }
}

/*telas de tablets/ipads/celulares até 1300px de largura e 850px de altura*/
@media (max-width: 2000px) and (min-width: 1900px) and (min-height:850px) and (max-height:1000px){
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 40px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 7rem !important;
        padding:1% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	8.5rem !important;
        font-size: 4rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	107% !important;
        margin-left:-9% !important;
    } 
    .mr-1{
        margin-right:-0.7% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        font-size: 4.6rem !important;
        height: 11rem !important;
        margin-left:-7% !important;
    }

    #SN, #SNN{
        width: 19rem !important;
    }
}

/*telas de tablets/ipads/celulares até 1300px de largura e 850px de altura*/
@media (max-width: 1600px) and (min-width: 1400px) and (min-height:750px) and (max-height:800px){
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 35px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 5.7rem !important;
        padding:0.4% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	7.5rem !important;
        font-size: 3.5rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	109% !important;
        margin-left:-10% !important;
    } 
    .mr-1{
        margin-right:-1.5% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        height: 8.7rem !important;
        margin-left:-10% !important;
    }

    #SN, #SNN{
        font-size: 5rem !important;
        width: 14rem !important;
    }
}

/*telas de tablets/ipads/celulares até 1300px de largura e 850px de altura*/
@media (max-width: 1300px) and (max-height: 850px) {
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 40px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 6.2rem !important;
        padding:0.4% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	8.4rem !important;
        font-size: 4.7rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	109% !important;
        margin-left:-10% !important;
    } 
    .mr-1{
        margin-right:-1.5% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        height: 9.5rem !important;
        margin-left:-11% !important;
    }

    #SN, #SNN{
        font-size: 5rem !important;
        width: 12.5rem !important;
    }
}

/*telas de tablets/ipads/celulares até 1200px de largura*/
@media (max-width: 1200px) {
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 40px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 5.5rem !important;
        padding:0.4% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	8.4rem !important;
        font-size: 4.7rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	112% !important;
        margin-left:-12% !important;
    } 
    .mr-1{
        margin-right:-1.8% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        font-size: 5rem !important;
        height: 8.5rem !important;
        margin-left:-11% !important;
    }

    #SN, #SNN{
        width: 11.5rem !important;
    }
}

/*telas de tablets/ipads/celulares até 1200px de largura*/
@media (max-width: 1120px) {
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 40px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 5.5rem !important;
        padding:0.4% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	8.4rem !important;
        font-size: 4.7rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	112% !important;
        margin-left:-12% !important;
    } 
    .mr-1{
        margin-right:-1.8% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        height: 8.5rem !important;
        margin-left:-11% !important;
    }

    #SN, #SNN{
        font-size: 4.7rem !important;
        width: 10rem !important;
    }
} 

/*telas de celulares menores que 900px*/
@media (max-width: 900px) {
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 15px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 2.7rem !important;
        padding:0.4% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	3.7rem !important;
        font-size: 1.7rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	120% !important;
        margin-left:-20% !important;
    } 
    .mr-1{
        margin-right:-3% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        height: 4.2rem !important;
        margin-left:-20% !important;
    }

    #SN, #SNN{
        font-size: 2.1rem !important;
        width: 8.3rem !important;
    }
}

/*telas de celulares menores que 800px*/
@media (max-width: 800px) {
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 16px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 3rem !important;
        padding:0.4% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	4rem !important;
        font-size: 2rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	112% !important;
        margin-left:-12% !important;
    } 
    .mr-1{
        margin-right:-1.8% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        font-size: 1.9rem !important;
        height: 4.7rem !important;
        margin-left:-20% !important;
    }

    #SN, #SNN{
        width: 7rem !important;
    }
}

/*telas de celulares menores que 700px*/
@media (max-width: 700px) and (min-height: 370px) {
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 17px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 2.7rem !important;
        padding:0.5% !important;
        width:100% !important;
        margin-top: -1%;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	4rem !important;
        font-size: 2rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	127% !important;
        margin-left:-28% !important;
    } 
    .mr-1{
        margin-right:-3.5% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        font-size: 1.9rem !important;
        height: 4.2rem !important;
        margin-left:-30% !important;
    }

    #SN, #SNN{
        width: 6.2rem !important;
    }

}

/*telas de celulares menores que 700px e menores que 370px*/
@media (max-width: 700px) and (max-height: 370px) {
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 10px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 1.9rem !important;
        padding:0.5% !important;
        width:100% !important;
        margin-top: -1%;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	2.7rem !important;
        font-size: 1rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	129% !important;
        margin-left:-29% !important;
    } 
    .mr-1{
        margin-right:-3% !important;
    }

    html, body{
        overflow: hidden !important;
    }

    .SNN{
        font-size: 1.9rem !important;
        height: 3rem !important;
        margin-left:-30% !important;
    }

    #SN, #SNN{
        width: 6.2rem !important;
    }

}

/*telas de celulares menores que 600px*/
@media (max-width: 600px) and (min-width:490px) and (min-height:320px) {
    .container-fluid {
        width: 100% !important;
    }

    textarea{
        font-size: 14px !important;
        margin-right:-2% !important;
    }
    .form-control{
        width:98% !important;
    }

    .teclado button{
        font-size: 2rem !important;
        padding:0.4% !important;
        width:100% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	3.5rem !important;
        font-size: 1.5rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	130% !important;
        margin-left:-30% !important;
    } 
    .mr-1{
        margin-right:-4% !important;
    }
    .SNN{
        height: 3.4rem !important;
        margin-left:-20% !important;
    }
    html, body{
        overflow: hidden !important;
    }
}