button:focus{
    background: #007bff;
    color: #fff;
}
button{
    font-size: 4rem !important;
}

#label{
    height:0;
    width:0;
    font-size:0;
    display: block;
    text-indent: -20000px;
    margin: 0;
    padding: 0;
}

.teclado button{
    font-size: 6rem !important;
    padding:0.5% !important;
}

.mr-1{
    margin-right:-1.5% !important;
}

.teclado .simnao button{
    font-size: 6rem !important;
}
textarea{
    font-size: 2rem !important;
}
.form-control{
    width:41rem !important;
}	
.mt-4 .col-8{
    margin-right: -19%;
}
#backspace, #erase{
    width:	13rem !important;
}
#botaoTrocaTeclado{
    width:	12rem !important;
}
