button:focus{
    background: #007bff;
    color: #fff;
}
button{
    font-size: 5rem !important;
}

#label{
    height:0;
    width:0;
    font-size:0;
    display: block;
    text-indent: -20000px;
    margin: 0;
    padding: 0;
}

.teclado button{
    font-size: 7rem !important;
}

.teclado .simnao button{
    font-size: 6rem !important;
}
textarea{
    font-size: 2.5rem !important;
}
.form-control{
    width:55rem !important;
}	
.mt-4 .col-8{
    margin-right: -19%;
}
#backspace, #erase{
    width:	17rem !important;
}
#botaoTrocaTeclado{
    width:	18.5rem !important;
}

.SN{
    height: 24.2rem !important;
}
.esp{
    width: 26.6rem !important;
}

.SNN{
    height: 11.3rem !important;
}
.espN{
    width: 31.4rem !important;
}

/*telas de tablets/ipads/celulares até 1400px de largura*/
@media (max-width: 1400px) {
    .container-fluid {
        width: 100%;
    }

    textarea{
        font-size: 40px !important;
    }
    .form-control{
        width:85% !important;
    }

    .teclado .simnao button{
        font-size: 5rem !important;
    }

    .teclado button{
        font-size: 7rem !important;
    }


    .SN{
        height: 24.3rem !important;
        width: 12.5rem !important;
    }

    .SNN{
        height: 11.29rem !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	8.4rem !important;
        font-size: 4.7rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	90% !important;
    }

    .mt-4 .col-2{
        margin-right: -2.5%;
    }

    .mt-4 .col-8{
        margin-right: -10%;
    }
}

/*telas de tablets/ipads/celulares até 1200px de largura*/
@media (max-width: 1200px) {
    .container-fluid {
        width: 100%;
    }

    textarea{
        font-size: 40px !important;
    }
    .form-control{
        width:30rem !important;
    }

    .teclado .simnao button{
        font-size: 3.5rem !important;
    }

    .teclado button{
        font-size: 4.7rem !important;
    }

    .col{
        margin: -3px;
    }

    .SN{
        height: 16.9rem !important;
        width: 8.8rem !important;
    }

    .SNN{
        height: 7.9rem !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	8.4rem !important;
        font-size: 4.7rem !important;
    }
    #backspace, #erase, #botaoTrocaTeclado{
        width:	9.5rem !important;
    }

    .mt-4 .col-8{
        margin-right: -18%;
    }
    
    .mt-4 .col-2{
        margin-right: -2px;
    }
}

/*telas de celulares menores que 900px*/
@media (max-width: 900px) {
    .container-fluid {
        width: 100%;
    }

    .teclado .simnao button{
        font-size: 2rem !important;
    }
    .teclado .simnao .S{
        margin-bottom: 50%;
    }
    .SN{
        width: 107% !important;
        height: 275% !important;
    }

    .SNN{
        height: 134% !important;
        width: 115% !important;
    }

    textarea{
        font-size: 17px !important;
    }
    .form-control{
        width:78% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	4rem !important;
        font-size: 2rem !important;
    }
    #backspace, #erase{
        width:	100% !important;
    }
    #botaoTrocaTeclado{
        width:	125% !important;
    }

    .teclado button{
        font-size: 200% !important;
        margin: -7% !important;
    }
    .mt-4 .col-8{
        margin-right: -16%;
    }
    .mt-4 .col-2{
        margin-right: -18px;
    }
    .teclado .col-10 .mt-4 .col{
        margin-right: -3% !important;

    }
}

/*telas de celulares menores que 800px*/
@media (max-width: 800px) {
    .container-fluid {
        width: 100%;
    }

    .teclado .simnao button{
        font-size: 2rem !important;
    }
    .teclado .simnao .S{
        margin-bottom: 65%;
    }
    .SN{
        width: 107% !important;
        height: 282% !important;
    }

    .teclado .simnao .SS{
        margin-bottom: 3%;
        margin-top: -3%;
    }
    .SNN{
        height: 134% !important;
        width: 107% !important;
    }

    textarea{
        font-size: 17px !important;
    }
    .form-control{
        width: 78% !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	4rem !important;
        font-size: 2rem !important;
    }
    #backspace, #erase{
        width:	100% !important;
    }
    #botaoTrocaTeclado{
        width:	130% !important;
    }

    .teclado button{
        font-size: 223% !important;
        margin: -7% !important;
    }
    .mt-4 .col-8{
        margin-right: -16%;
    }
    .mt-4 .col-2{
        margin-right: -18px;
    }
}

/*telas de celulares menores que 700px*/
@media (max-width: 700px) {
    .container-fluid {
        width: 100%;
    }

    .teclado .simnao button{
        font-size: 2rem !important;
    }
    .SN{
        width: 110% !important;
        height: 7.5rem !important;
    }
    .teclado .simnao .S{
        margin-bottom: 0;
    }
    
    .teclado .simnao .SS{
        margin-bottom: -5%;
        margin-top: -3%;
    }
    .SNN{
        height: 119% !important;
        width: 115% !important;
    }

    textarea{
        font-size: 14px !important;
    }
    .form-control{
        width: 89% !important;
    }
    
    .mt-4 .col-8{
        margin-right: -10.5%;
    }
    .mt-4 .col-2{
        margin-right: -20px;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	3.5rem !important;
        font-size: 1.4rem !important;
    }
    #backspace, #erase{
        width:	5rem !important;
    }
    #botaoTrocaTeclado{
        width:	100% !important;
    }

    .teclado button{
        font-size: 1.77rem !important;
        margin: -8% !important;
    }

}

/*telas de celulares menores que 600px*/
@media (max-width: 600px) {
    .container-fluid {
        width: 100%;
    }

    .teclado .simnao button{
        font-size: 1.6rem !important;
    }
    .SN{
        width: 5rem !important;
        height: 6.3rem !important;
    }
    
    .teclado .simnao .SS{
        margin-bottom: -7%;
        margin-top: -4%;
    }
    .SNN{
        height: 123% !important;
        width: 130% !important;
    }

    textarea{
        font-size: 14px !important;
    }
    .form-control{
        width: 19rem !important;
    }

    #botaoTrocaTeclado, #backspace, #erase{
        height:	3.5rem !important;
        font-size: 1.4rem !important;
    }
    #backspace, #erase{
        width:	4rem !important;
    }
    #botaoTrocaTeclado{
        width:	5.3rem !important;
    }

    .teclado button{
        font-size: 1.4rem !important;
        margin: -10% !important;
    }
    .mt-4 .col-8{
        margin-right: -11.5%;
    }
    .mt-4 .col-2{
        margin-right: -20px;
    }
}