* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#toast-speed {
    position: absolute;
    display: none;
}

div.container-fluid {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.container-fluid div.main {
    height: 92%;
}
div.container-fluid div.menu {
    height: 8%;
}
div.main div.main-col {
    height: 100%;
}
div.main div.main-col .sc-row button {
    padding: 0;
}

div[data-in-groups].group-selected-parent button{
    border-color: black;
    border-style: solid;
}
div[data-in-groups].group-selected button,  
div[data-in-groups] button[data-in-groups].group-selected {
    background: #006FE6;
    color: #fff;
}
/* div[data-in-groups].group-selected button.controller,  
div[data-in-groups] button[data-in-groups].group-selected.controller {
    background: #004a99;
    color: #fff !important;
} */

div.toast-box {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2em;
    text-align: center;
    z-index: 3000;
}
div.toast-box p.toast-msg {
    font-size: 1.5em;
    background: #004a99;
    color: #fff;
    margin: auto;
    padding-top: 1em;
    height: 3.5em;
    width: 15em;
}


@media (orientation:portrait) {
    div.main .main-col button,
    div.main .main-col button span,
    div.main .main-col div.specials button span  {
        font-size: calc(1rem + 2.5vh);
        vertical-align: middle;
        line-height: 0.5rem;
    } 

    /* Alpha */
    div.main .main-col.set-letters .digit-row{
        display: none;
    }
    div.main .main-col.set-letters .sc-row form ,
    div.main .main-col.set-letters .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-letters .sc-row {
        height: calc(85%/9);
    }
    div.main .main-col.set-letters .text {
        height: 15%;
    }
    div.main .main-col.set-letters .row{
        padding: 0.8vmin;
    }
    div.main .main-col.set-letters .col {
        padding-left: 0.8vmin;
        padding-right: 0.8vmin;
    }

    /* Digits */
    div.main .main-col.set-digits .alpha-row{
        display: none;
    }
    div.main .main-col.set-digits .sc-row form ,
    div.main .main-col.set-digits .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-digits .sc-row {
        height: calc(85%/6);
    }
    div.main .main-col.set-digits .text {
        height: 15%;
    }
    div.main .main-col.set-digits .row{
        padding: 0.5vmin;
    }
    div.main .main-col.set-digits .col {
        padding-left: 0.5vmin;
        padding-right: 0.5vmin;
    }
}

@media (orientation:landscape) {  
    div.main .main-col button,
    div.main .main-col button span,
    div.main .main-col div.specials button span  {
        font-size: calc(1rem + 2.5vw);
        vertical-align: middle;
        line-height: 0.5rem;
    } 

    /* Alpha */
    div.main .main-col.set-letters .digit-row{
        display: none;
    }
    div.main .main-col.set-letters .sc-row form ,
    div.main .main-col.set-letters .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-letters .sc-row {
        height: calc(100%/4);
    }
    div.main .main-col.set-letters form,
    div.main .main-col.set-letters div.alpha .col,
    div.main .main-col.set-letters div.control .col {
        padding-right: 0;
    }
    div.main .main-col.set-letters .row, 
    div.main .main-col.set-letters div.specials .col {
        padding-top: 0.5vmin;
        padding-bottom: 0.5vmin;
    }
    div.main .main-col.set-letters div.specials {
        flex: 0 0 11%;
        max-width: 11%;
        max-height: calc(100%/4);
    }
    div.main .main-col.set-letters div.specials > .row:first-child {
        display: block;
        margin-left: 0;
    }
    div.main .main-col.set-letters div.specials > .row:first-child .col {
        padding-left: 0;
        margin-bottom: 1vmin;
    }
    /* div.main .main-col.set-letters .row{
        padding: 0.5vmin;
    }
    div.main .main-col.set-letters .col {
        padding-left: 1vmin;
        padding-right: 0.8vmin;
    } */

    /* Digits */
    div.main .main-col.set-digits .alpha-row{
        display: none;
    }
    div.main .main-col.set-digits .sc-row form ,
    div.main .main-col.set-digits .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-digits .sc-row {
        height: calc(100%/4);
    }
    div.main .main-col.set-digits form,
    div.main .main-col.set-digits div.alpha .col,
    div.main .main-col.set-digits div.control .col {
        padding-right: 0;
    }
    div.main .main-col.set-digits .row, 
    div.main .main-col.set-digits div.specials .col {
        padding-top: 0.5vmin;
        padding-bottom: 0.5vmin;
    }
    div.main .main-col.set-digits > .row:first-child {
        flex-direction: column;
    }
    div.main .main-col.set-digits > .row:first-child > .col {
        height: 20% !important;
    }
    div.main .main-col.set-digits > .row:first-child > .col:first-child {
        height: 80% !important;
    }
    div.main .main-col.set-digits div.specials {
        flex: 1 0 1%;
        max-width: 100%;
        max-height: calc(100%/5);
    }
    div.main .main-col.set-digits div.control {
        margin-right: 0;
    }
    
}

/* Alpha: When text will break */
@media (orientation:landscape) and (max-width: 1200px) {
    div.main .main-col.set-letters > .row:first-child {
        flex-direction: column;
    }
    div.main .main-col.set-letters > .row:first-child > .col {
        height: 20% !important;
    }
    div.main .main-col.set-letters > .row:first-child > .col:first-child {
        height: 80% !important;
    }
    div.main .main-col.set-letters div.specials {
        flex: 1 1 1%;
        max-width: 100%;
        max-height: 20%;
    }
    div.main .main-col.set-letters div.specials > .row:first-child .col {
        display: inline-block;
        width: calc(100%/4) !important;
        margin-left: 0;
    }
    div.main .main-col.set-letters div.control,
    div.main .main-col.set-letters div.alpha-row {
        margin-right: 0;
    }

}


