* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 100%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

div.container-fluid {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0;
}

div.container-fluid div.main {
    height: 90%;
}
div.container-fluid div.menu {
    height: 10%;
}

div.brand {
    font-size: calc(1.1rem + (15 * (100vw - 1000px) / 1000));
}
div.brand a {
    color: black !important;
}
div.brand a img {
    float: left;
}

div.menu ul.navbar-nav {
    font-size: 100%;
}

@media (max-height: 500px) {
    div.container-fluid div.main {
        height: 80%;
    }
    div.container-fluid div.menu {
        height: 20%;
    }    
}

div.main {
    margin: 0;
    padding: 0;
}
div.main div.main-col {
    height: 100%;
}

/* Horizontal Menu */
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}
div.menu {
    padding: 0;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    border: 0;
    border-bottom: 4px;
    border-color: rgb(190, 184, 184);
    border-style: solid;
    background-color: rgb(235, 235, 235);
}
div.menu ul.navbar-nav {
    flex-direction: row;
    align-items: center;    
    height: 100%;
}
div.menu ul.navbar-nav li {
    padding: 0 0.5vmin;
}
div.menu ul.navbar-nav li:nth-child(1),
div.menu ul.navbar-nav li:nth-child(2) {
    flex: 1 1 30%;
    height: 100%;
}
div.menu ul.navbar-nav li:nth-child(3) {
    flex: 1 1 40%;
    height: 100%;
}
/* div.menu ul.navbar-nav li .form-inline{
    justify-content: center;
    align-items: center;
    height: 100%;
} */
/* div.menu ul.navbar-nav > li:first-child {
    border-color: rgb(104, 104, 104);
    border-width: 1px;
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
} */
div.brand {
    flex: 1 1 auto;
    width: 20%;
    max-width: 20%;
    padding-left: 1vmin;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
}
div.cog {
    flex: 1 1 auto;
    width: 10%; 
    height: 100%;
    max-width: 10%;
    background-color: rgb(168, 166, 166);
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
}
div.cog .navbar {
    justify-content: flex-end;
    padding: 0 0.3vw;
    height: 100%;
}
div.cog .navbar button {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
nav.menu-options {
    flex: 1 1 auto;
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
    width: 70%;
    height: 100%;
    z-index: 10000;
    background-color: rgb(168, 166, 166);
}
nav.menu-options .navbar-brand {
    display: none;
}
/* nav.menu-options .form-control-range {
    display: inline;
    width: auto;
}*/
nav.menu-options .ss-icon  {
    display: none;
}

nav.menu-options .nav-item .velocidade-group {
    font-size: 130%;
}
nav.menu-options .nav-item label.btn.btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:none;
    font-size: 130%;
}
nav.menu-options .nav-item label.btn.btn-secondary {
    outline: 1px solid rgb(131, 129, 129);
    cursor: pointer;
}
nav.menu-options .nav-item label.btn.btn-secondary {
    background-color: rgb(168, 166, 166);
    color: black;
}
nav.menu-options .nav-item label.btn.btn-secondary.active {
    background-color: rgb(9, 4, 78);
    color: white;
}
nav.menu-options .nav-item:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav.menu-options .nav-item:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
nav.menu-options .nav-item:last-child .velocidade-group {
    width: 100%;
}


@media (max-width: 980px) {
    /* When there is little space for text in menu, change to icons */
    /* div.brand .brand-name{
        display: none;
    } */
    nav.menu-options .ss-icon {
        display: inline;
        padding: 0 0.3vw;
        width: 100%;
    }
    div.menu ul.navbar-nav li:nth-child(3) .form-inline {
        padding-left: 1vw;
    }
    nav.menu-options .bs-text {
        display: block;
        position: fixed;
        left: -100vw;
        top: -100vh;
        width:1%;
        height:1%;
    }

    nav.menu-options .nav-item .velocidade-group {
        font-size: 140%;
    }
    nav.menu-options .nav-item label.btn.btn-secondary{
        font-size: 180%;
    }
    
    /* When there is little space for the horizontal menu, vertical take place */
    /* div.menu ul.navbar-nav {
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
    }
    div.menu ul.navbar-nav > li:first-child {
        border: 0;
    }
    nav.menu-options {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 75vw;
        background-color: rgb(168, 166, 166);
        border-color: black;
        border-style: solid;
        border-width: 1px;
        border-left: 0;
        border-top: 0;
        border-bottom: 0;
        padding-left: 1.5vmin;
    }
    nav.menu-options .navbar-brand {
        display: block;
    } */
}

/* Buttons, textarea, form */
div.main .main-col textarea {
    border-color: rgb(61, 61, 61);
    background-color: white !important;
}
div.main .main-col button {
    border-color: rgb(61, 61, 61) !important;
    color: rgb(54, 54, 54) !important;
}
/* div.main .main-col button:hover {
    background-color: rgb(255,255,89) !important;
} */

div[data-in-groups].group-selected-parent button{
    /* border-color: black; */
    border-style: dashed;
    border-width: 2px;
}
div.main .main-col.set-letters span.to-alpha,
div.main .main-col.set-digits span.to-digit {
    display: none;
}
div.main .main-col.set-digits span.to-alpha,
div.main .main-col.set-letters span.to-digit {
    display: inline;
}
div.main .main-col button:focus,
div.main .main-col button:active,
div.main .main-col button:hover,
div.main .main-col div[data-in-groups].group-selected button,  
div.main .main-col div[data-in-groups] button[data-in-groups].group-selected {
    background-color: rgb(54, 54, 54) !important;
    color: rgb(255,255,89) !important;
}
/* div[data-in-groups].group-selected button.controller,  
div[data-in-groups] button[data-in-groups].group-selected.controller {
    background: #004a99;
    color: #fff !important;
} */

#toast-speed {
    position: absolute;
    display: none;
}   

div.toast-box {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2em;
    text-align: center;
    z-index: 3000;
}
div.toast-box p.toast-msg {
    font-size: 1.5em;
    background: #004a99;
    color: #fff;
    margin: auto;
    padding-top: 1em;
    height: 3.5em;
    width: 15em;
}

div.main .main-col,
div.main .main-col .row:first-child .col:first-child,
div.main .main-col div.text,
div.main .main-col form,
div.main .main-col div.alpha .col,
div.main .main-col div.digit-row,
div.main .main-col div.control .col,
div.main .main-col .row,
div.main .main-col div.specials,
div.main .main-col div.specials .row,
div.main .main-col div.specials .col,
div.main .main-col div.sc-row .col {
    padding: 0;
    margin: 0;
}
div.main .main-col {
    padding-bottom: 0.5vmin !important;
    padding-left: 0.5vmin;
    padding-right: 0.5vmin;
}
div.main .main-col form,
div.main .main-col div.control .col,
div.main .main-col div.digit-row .col,
div.main .main-col div.specials .col,
div.main .main-col .alpha .col {
    padding: 0.5vmin 0.5vmin !important;
}

@media (orientation:portrait) {
    div.main .main-col button,
    div.main .main-col button span,
    div.main .main-col div.specials button span  {
        font-size: calc(1rem + 1.5vh) !important;
        vertical-align: middle;
        line-height: 0.5rem;
    } 
    div.main .main-col textarea {
        font-size: calc(1rem + 1.1vh) !important;
    }

    /* Alpha */
    div.main .main-col.set-letters .digit-row{
        display: none;
    }
    div.main .main-col.set-letters .sc-row form ,
    div.main .main-col.set-letters .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-letters .sc-row {
        height: calc(85%/9);
    }
    div.main .main-col.set-letters .text {
        height: 15%;
    }
    
    /* Digits */
    div.main .main-col.set-digits .alpha-row{
        display: none;
    }
    div.main .main-col.set-digits .sc-row form ,
    div.main .main-col.set-digits .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-digits .sc-row {
        height: calc(85%/6);
    }
    div.main .main-col.set-digits .text {
        height: 15%;
    }
}

@media (orientation:landscape) {  
    div.main .main-col button,
    div.main .main-col button span,
    div.main .main-col div.specials button span  {
        font-size: calc(1rem + 1.5vw) !important;
        vertical-align: middle;
        line-height: 0.5rem;
    }
    div.main .main-col textarea {
        font-size: calc(1rem + 1.1vw) !important;
    }

    /* Alpha */
    div.main .main-col.set-letters .digit-row{
        display: none;
    }
    div.main .main-col.set-letters .sc-row form ,
    div.main .main-col.set-letters .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-letters .sc-row {
        height: calc(100%/4);
    }
    div.main .main-col.set-letters div.specials {
        flex: 0 0 11%;
        max-width: 11%;
        max-height: calc(100%/4);
    }
    div.main .main-col.set-letters div.specials > .row:first-child {
        display: block;    
    }


    /* Digits */
    div.main .main-col.set-digits .alpha-row{
        display: none;
    }
    div.main .main-col.set-digits .sc-row form ,
    div.main .main-col.set-digits .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-digits .sc-row {
        height: calc(100%/4);
    }
    div.main .main-col.set-digits > .row:first-child {
        flex-direction: column;
    }
    div.main .main-col.set-digits > .row:first-child > .col {
        height: 20% !important;
    }
    div.main .main-col.set-digits > .row:first-child > .col:first-child {
        height: 80% !important;
    }
    div.main .main-col.set-digits div.specials {
        flex: 1 0 1%;
        max-width: 100%;
        max-height: calc(100%/5);
    }
}

/* Alpha: When text will break */
@media (orientation:landscape) and (max-width: 1200px) {
    div.main .main-col.set-letters > .row:first-child {
        flex-direction: column;
    }
    div.main .main-col.set-letters > .row:first-child > .col {
        height: 20% !important;
    }
    div.main .main-col.set-letters > .row:first-child > .col:first-child {
        height: 80% !important;
    }
    div.main .main-col.set-letters div.specials {
        flex: 1 1 1%;
        max-width: 100%;
        max-height: 20%;
    }
    div.main .main-col.set-letters div.specials > .row:first-child .col {
        display: inline-block;
        width: calc(100%/4) !important;
    }
}

/* Dark-mode */
body.contrast div.main {
    background-color: black;
}
body.contrast div.brand a {
    color: white !important;
}
body.contrast div.main textarea {
    background-color: black !important;
    border-color: rgb(200,200,200) !important;
    color: white !important;
}
body.contrast div.main button {
    background-color: rgb(54, 54, 54);
    color: rgb(200,200,200) !important;
    border-color: none !important;
}
body.contrast div.main .main-col button:hover,
body.contrast div.main .main-col button:focus,
body.contrast div.main .main-col button:active {
    background-color: rgb(200,200,200) !important;
    color: rgb(54, 54, 54) !important;
}
body.contrast div.main .main-col div[data-in-groups].group-selected button,  
body.contrast div.main .main-col div[data-in-groups] button[data-in-groups].group-selected {
    background-color: rgb(200,200,200) !important;
    color: rgb(54, 54, 54) !important;
}
body.contrast div[data-in-groups].group-selected-parent button{
    border-color: rgb(200,200,200) !important;
    border-style: dashed !important;
    border-width: 2px !important;
}

body.contrast div.menu {
    background-color: rgb(74, 74, 74);
    color: rgb(240,240,240);
    border-color: black;
}
body.contrast div.cog,
body.contrast nav.menu-options,
body.contrast nav.menu-options ul.navbar-nav {
    background-color: rgb(54, 54, 54) !important;
}
body.contrast div.cog button{
    color: rgb(240,240,240) !important;
}
body.contrast div.menu ul.navbar-nav > li:first-child {
    border-color: rgb(50,50,50);
}

body.contrast nav.menu-options .nav-item label.btn.btn-secondary {
    background-color: rgb(54, 54, 54);
    color: white;
}
body.contrast nav.menu-options .nav-item label.btn.btn-secondary.active {
    background-color: rgb(9, 4, 78);
    color: white;
}



