* {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#toast-speed {
    position: absolute;
    display: none;
}

div.container-fluid {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

div.container-fluid div.main {
    height: 92%;
}
div.container-fluid div.menu {
    height: 8%;
}
div.main div.main-col {
    height: 100%;
}

div.main .main-col textarea {
    border-color: rgb(61, 61, 61);
}
div.main .main-col button {
    border-color: rgb(61, 61, 61) !important;
    color: rgb(54, 54, 54) !important;
}
div.main .main-col button:hover {
    background-color: rgb(255,255,89) !important;
}
div.main .main-col button:focus,
div.main .main-col button:active {
    background-color: white !important;
}
div[data-in-groups].group-selected-parent button{
    /* border-color: black; */
    border-style: dashed;
    border-width: 2px;
}
div.main .main-col div[data-in-groups].group-selected button,  
div.main .main-col div[data-in-groups] button[data-in-groups].group-selected {
    background-color: rgb(54, 54, 54) !important;
    color: rgb(255,255,89) !important;
}
/* div[data-in-groups].group-selected button.controller,  
div[data-in-groups] button[data-in-groups].group-selected.controller {
    background: #004a99;
    color: #fff !important;
} */

div.toast-box {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 2em;
    text-align: center;
    z-index: 3000;
}
div.toast-box p.toast-msg {
    font-size: 1.5em;
    background: #004a99;
    color: #fff;
    margin: auto;
    padding-top: 1em;
    height: 3.5em;
    width: 15em;
}

div.main .main-col,
div.main .main-col .row:first-child .col:first-child,
div.main .main-col div.text,
div.main .main-col form,
div.main .main-col div.alpha .col,
div.main .main-col div.digit-row,
div.main .main-col div.control .col,
div.main .main-col .row,
div.main .main-col div.specials,
div.main .main-col div.specials .row,
div.main .main-col div.specials .col,
div.main .main-col div.sc-row .col {
    padding: 0;
    margin: 0;
}
div.main .main-col {
    padding-left: 1.5vmin !important;
    padding-right: 1.5vmin !important;
    padding-bottom: 1.5vmin !important;
}
div.main .main-col form,
div.main .main-col div.digit-row .col,
div.main .main-col div.control .col,
div.main .main-col div.specials .col,
div.main .main-col .alpha .col {
    padding: 0.5vmin 0.5vmin !important;
}

@media (orientation:portrait) {
    div.main .main-col button,
    div.main .main-col button span,
    div.main .main-col div.specials button span  {
        font-size: calc(1rem + 2.5vh);
        vertical-align: middle;
        line-height: 0.5rem;
    } 

    /* Alpha */
    div.main .main-col.set-letters .digit-row{
        display: none;
    }
    div.main .main-col.set-letters .sc-row form ,
    div.main .main-col.set-letters .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-letters .sc-row {
        height: calc(85%/9);
    }
    div.main .main-col.set-letters .text {
        height: 15%;
    }
    
    /* Digits */
    div.main .main-col.set-digits .alpha-row{
        display: none;
    }
    div.main .main-col.set-digits .sc-row form ,
    div.main .main-col.set-digits .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-digits .sc-row {
        height: calc(85%/6);
    }
    div.main .main-col.set-digits .text {
        height: 15%;
    }
}

@media (orientation:landscape) {  
    div.main .main-col button,
    div.main .main-col button span,
    div.main .main-col div.specials button span  {
        font-size: calc(1rem + 2.5vw);
        vertical-align: middle;
        line-height: 0.5rem;
    }

    /* Alpha */
    div.main .main-col.set-letters .digit-row{
        display: none;
    }
    div.main .main-col.set-letters .sc-row form ,
    div.main .main-col.set-letters .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-letters .sc-row {
        height: calc(100%/4);
    }
    div.main .main-col.set-letters div.specials {
        flex: 0 0 11%;
        max-width: 11%;
        max-height: calc(100%/4);
    }
    div.main .main-col.set-letters div.specials > .row:first-child {
        display: block;    
    }


    /* Digits */
    div.main .main-col.set-digits .alpha-row{
        display: none;
    }
    div.main .main-col.set-digits .sc-row form ,
    div.main .main-col.set-digits .sc-row form textarea {
        height: 100%;
    }
    div.main .main-col.set-digits .sc-row {
        height: calc(100%/4);
    }
    div.main .main-col.set-digits > .row:first-child {
        flex-direction: column;
    }
    div.main .main-col.set-digits > .row:first-child > .col {
        height: 20% !important;
    }
    div.main .main-col.set-digits > .row:first-child > .col:first-child {
        height: 80% !important;
    }
    div.main .main-col.set-digits div.specials {
        flex: 1 0 1%;
        max-width: 100%;
        max-height: calc(100%/5);
    }
}

/* Alpha: When text will break */
@media (orientation:landscape) and (max-width: 1050px) {
    div.main .main-col.set-letters > .row:first-child {
        flex-direction: column;
    }
    div.main .main-col.set-letters > .row:first-child > .col {
        height: 20% !important;
    }
    div.main .main-col.set-letters > .row:first-child > .col:first-child {
        height: 80% !important;
    }
    div.main .main-col.set-letters div.specials {
        flex: 1 1 1%;
        max-width: 100%;
        max-height: 20%;
    }
    div.main .main-col.set-letters div.specials > .row:first-child .col {
        display: inline-block;
        width: calc(100%/4) !important;
    }
}


